.container{
    width: 100vw;
    height: 100vh;
    background-color: #16191c;
}
.circuloVerde00{
    position: fixed;
    width: 2000px;
    height: 2000px;
    left: -320px;
    top: -660px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(23, 137, 96, 0.4) 0.01%,
      rgba(23, 137, 96, 0.4) 0.02%,
      rgba(23, 137, 96, 0) 100%
    );
}
.formularioPrimario{
    position: absolute;
    right: 360px;
    top: 140px;
    width: 800px;
    height: 360px;
    background-color: #34393f ;
    border-radius: 30px;
    padding: 50px;
}
.contenedorFormularioDatos{
    position: absolute;
    display: block;
    width: 600px;
    height: 360px;
    padding-right: 30px;
    background-color: transparent;
}
.titulo{
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 650px;
    text-align: center;
    color:rgb(201, 200, 200);
    font-size: 60px;
    width: 300px;
    height: 80px;
}
.labelNombre{
    position: absolute;
    top:0px;
    width: 100px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: 24px;
    
}
.inputNombre{
    position: absolute;
    top:40px;
    width: 260px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
}
.labelApellidoMaterno{
    position: absolute;
    top:100px;
    width: 200px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: 24px;
}
.inputApellidoMaterno{
    position: absolute;
    top: 140px;
    width: 260px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
}
.labelApellidoPaterno{
    position: absolute;
    top:200px;
    width: 200px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: 24px;
}
.inputApellidoPaterno{
    position: absolute;
    top:240px;
    width: 260px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
}
.labelNivelAcademico{
    position: absolute;
    top:0px;
    left: 410px;
    width: 200px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: 24px;
}
.selectNivel{
    position: absolute;
    top:40px;
    left: 410px;
    width: 274px;
    height: 44px;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
}
.optionSelect{
    position: relative;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    transition: 1000ms;
}
.labelCorreo{
    position: absolute;
    top:100px;
    left: 410px;
    width: 200px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: 24px;
}
.inputCorreo{
    position: absolute;
    top:140px;
    left: 410px;
    width: 260px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
}
.labelContrasena{
    position: absolute;
    top:200px;
    left: 410px;
    width: 100px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: 24px;
}
.inputContrasena{
    position: absolute;
    top:240px;
    left: 410px;
    width: 260px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 20px;
}

.botonSiguiente{
    position: absolute;
    top: 320px;
    left: 210px;
    width: 300px;
    height: 50px;
    color: aliceblue;
    background-color: #1c9a6d;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.formulario{
    background-color: transparent;
    width: auto;
    height: auto;
}